:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --secondary-text-color: #ffffff;
  --footer-text-color: #f4f4fd;
  --white-text-color: #ffffff;
  --accent_color: #404bbf;
  --button-bg-color: #4d5ae5;
  --icons-bg-color: #4d5ae5;
  --icon-fill-silver: #8e8f99;
}

body {
  box-sizing: border-box;
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}
button {
  cursor: pointer;
}
img {
  display: block;
}

.container{
   
    margin: 0 auto;
    padding: 0 15px;
}

.business {
    width: 100%;
    padding: 112px 54px ;
    margin: 0 auto;
    /* background: var(--title-text-color); */
    background-color: black;
 
    /* background-size: cover; */
   
  }
  .business .business-title {
    margin-left: auto;
    margin-right: auto;
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    width: 100%;
    
  }

  .business .button {
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    background-color: var(--button-bg-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    display: block;
    margin: 0 auto;
    padding: 16px 22px;
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .button:focus {
    background-color: var(--accent_color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
  }




/* ===============section first----------- */

.section-first{
  padding: 96px 0;
}

.work-list-icons{
  display: none;
}

.work-list-items{
  width: 100%;

}

.work-list-items .title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  /* identical to box height, or 111% */
  color: var(--title-text-color);
  margin-bottom: 8px;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.work-list-items .description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.work-list-items:not(:last-child) {
    margin-bottom: 72px;

}

/* =========================section-team===================== */
.section-team {
 
  padding: 96px 0 ;
  background-color: var(--footer-text-color);
}

.section-team .section-team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-team-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.section-team .section-team-card {
  background-color: var(--secondary-text-color);
  display: block;
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.section-team-wrapper {
  padding: 32px 0;
}
.section-team-list .list-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-team-list .list-about {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
} 
/* ----team-icons */
.section-icons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

.section-icons-list li {
  width: 40px;
  height: 40px;
}
.section-icon {
  width: 16px;
  height: 16px;
  fill: var(--footer-text-color);
}

.section-icons-link {
  background-color: var(--icons-bg-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* =========================section-team===================== */

/* ================customers-section============== */
.customers-section {
  padding: 96px 0;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 72px;
} 

/* ==icon-customers */
.customers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px ;

  
 
}
.customers-icon {
  fill: var(--icon-fill-silver);

  width: 110px;
  height: 56px;
 
} 

.customers-list li{
  width: 190px;
  height: 88px;

 
}

.customers-link {

 
  width: 100%;
  height: 100%;
 
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: var(--icon-fill-silver);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
 
  

  
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent_color);
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--accent_color);
}


/* ================customers-section============== */

/* ==============foter==================== */
.foter{
  padding: 96px 0;
  background: var(--title-text-color);

}
.foter-container{
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.foter-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  color: var(--button-bg-color);
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: center;
}
.foter .color {
  color: var(--footer-text-color);
}
.foter-description {
  text-align: left;
 
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.foter-icons-title {
  color: var(--white-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
} 

/* ===icons foter== */
.foter-icons-list {
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foter-icons-item {
  width: 40px;
  height: 40px;
}
.foter-icons-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-text-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foter-icons {
  width: 24px;
  height: 24px;
  fill: var(--footer-text-color);
}
.foter-icons-link:hover,
.foter-icons-link:focus {
  background-color: #31d0aa;
} 
/* ====foret form=== */
 .foter-form {
  display: flex;
  flex-direction: column;
}
.foter-form-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-text-color);

  margin-bottom: 16px;
}
.foter-form-input {
  background: var(--title-text-color);
  border: 1px solid #ffffff;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 8px 16px;
  
  color: var(--white-text-color);
  opacity: 0.6;
  margin-bottom: 16px;
}
.foter-form-input:focus{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
}
.foter-form-input::placeholder {
  color: var(--white-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  opacity: 0.6;
}
.foter-button-icon {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 117px;
  fill: var(--white-text-color);
} 
.foter-form-button {
  margin: 0 auto;
  position: relative;
  width: 165px;

  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
  background-color: var(--button-bg-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  
  line-height: 1.5;

  padding: 8px 0;
  padding-left: 24px;

  letter-spacing: 0.04em;
  display: flex;
  align-items: center;


  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foter-form-button:hover,
.foter-form-button:focus {
  background-color: var(--accent_color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ==============foter==================== */

/* =================max-width=============/ */

@media screen and (max-width:1157px){
  .section-job{
    display: none;
  }
}
/* ==================max-width============= */

/* =========================phone===================== */
  @media screen and (min-width:428px ) {
    .container{
        width: 426px ;
        margin: 0 auto;
    

    
    }
    .business{
      padding: 112px 0;
    }


    .customers-list li{
      width: 190px;
      height: 88px;
} 
    
  

}
  /* =========================phone===================== */


/* =========================tablet===================== */
  @media screen and (min-width: 768px ) {
    .container{
        width: 766px ;
      
    
    }
    .business .business-title{
       width: 496px;
       margin: 0 auto;
       font-size: 56px;
       line-height: 1.07;
       margin-bottom: 36px;
      
    }

    /* ============section firs============= */
    .work-list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 72px 24px 
       
    }
    .work-list-items{
      width: calc((100% - 24px) / 2)
    }
    .work-list-items .title{
      text-align: left;
    }
  
/* ============section firs============= */


 /* ===============section team================ */
 .section-team-list{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px 24px;
}

  /* ===============section team================ */

  /* ===============section customers=========== */
  .customers-list li {
    width: 168px;
    height: 88px;
  }

  .customers-list{
    gap: 72px 24px;
  }
  .customers-icon {
  width: 104px;
  height: 56px;
 }

 /* ==========foter=========== */
 .foter-container{
  padding-left: 108px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px 0;
 
 }
 .foter-logo{
  text-align: left;
 }

 .foter-logo-wrapper{
  width: 264px;
  margin-right: 24px;
 }
 .foter-icons-title{
  text-align: left;
 }

 .foter-form{
  display: flex;
  flex-direction: row;
 
 }
 .foter-form-input{
  width: 264px;
  margin-right: 24px;
  margin-bottom: 0;
 }
 

  /* ==========foter=========== */
  





}
  /* =========================tablet fiunish===================== */


    /* =========================desctop===================== */

  @media screen and (min-width: 1158px ) {
    .container{
        width: 1158px; 
        
    }
    .business {
      max-width: 1440px;
      margin: 0 auto;
    
      padding: 188px 0;
      background: var(--title-text-color);
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office.jpeg);
     
    }

    .business .business-title{
        margin-bottom: 42px;
    }
    .business .button {
      font-family: "Roboto", sans-serif;
      color: var(--secondary-text-color);
      background-color: var(--button-bg-color);
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      align-items: center;
      letter-spacing: 0.04em;
      display: block;
      margin: 0 auto;
      padding: 16px 22px;
    
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: none;
    
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .button:hover,
    .button:focus {
      background-color: var(--accent_color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    }


    /* ============section firs============= */

    .section-first{
      padding: 120px 0;
    }
   
    .work-list {
      display: flex;
      
      gap: 24px;
      
    }
    .work-list-items{
      width: calc((100% - 72px) / 4);
    }

    .work-list-icons{
     
      width: 264px;
      height: 112px;
      background-color: #f4f4fd;
      margin-bottom: 8px;
    
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .work-list-items .title {
      color: var(--title-text-color);
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      
    }

    /* icons=== */
    .work-list-icons {
      width: 264px;
      height: 112px;
      background-color: #f4f4fd;
      margin-bottom: 8px;
    
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .work-icons {
      width: 64px;
      height: 64px;
    }
    /* ============section firs============= */

    /* ==============section job=========== */
    .job-list {
      display: flex;
      gap: 24px;
    
    }
    .job-list li {
      width: calc((100% - 48px) / 3);
    }
    
    .section-job {
      background-color: var(--secondary-text-color);
      padding-bottom: 120px;
    }
    
    .section-job .section-title {
      color: var(--title-text-color);
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      margin-bottom: 72px;
    
    }

    /* ==============section job=========== */

    /* ===============section team================ */
    .section-team{
      padding: 120px 0;
    }
    .section-team-list{
      gap: 24px;
    }
 
    
    
    .section-icons-link:hover,
    .section-icons-link:focus {
      background-color: var(--accent_color);
}

/* ===============section team================ */

 /* ===============section customers=========== */

 .customers-section{
  padding: 120px 0;
 }
 .customers-list{
  gap: 24px;
}
.customers-icon{
  width: 104px;
  height: 56px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  /* ===============section customers=========== */

  /* ==============foter============== */
  .foter{
    padding: 100px 0;
  }
  .foter-container{
    padding-left: 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 0;
   
   }

   .foter-logo-wrapper{
    
    margin-right: 120px;
   }
   .foter-icon-wrapper{
    margin-right: 80px;
   }
  
   /* ==============foter============== */
    
  }
   /* =========================desct fiunish===================== */